annotated-types==0.7.0
attrs==25.4.0
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
filelock==3.25.0
idna==3.11
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
msgpack==1.1.2
numpy==2.2.6
packaging==26.0
pandas==2.3.3
polars==1.38.1
polars-runtime-32==1.38.1
protobuf==7.34.0
psutil==7.2.2
pyarrow==23.0.1
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
ray==2.54.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
six==1.17.0
tomli==2.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3